@import 'variables';
@import 'normalize';

/**
 * Standard setup.
 */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

embed,
img,
object,
video {
  max-width: 100%;
  height: auto;
}

/**
 * Text changes.
 */

 body {
  font-size: $base-font-size;
  font-family: $body-font-family;
  font-weight: 200;
  background-color: $lt-grey;
}

h1, h2, h3 {
  margin-top: 0;
}

h3 {
  margin-bottom: 0;
}



// Links
//
// The order of link states are based on Eric Meyer's article:
// http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states
a {
  transition: color .3s;
  color: $link;

  &:link {
    color: $link;
  }

  &:visited {
    color: $visited;
  }

  &:hover, &:focus {
    //color: $lt-grey;
  }

  &:active, &.active {

  }
}
